.con {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__search {
        width: 100%;
        max-width: 220px;
    }

    &__filter {
        width: 100%;
        max-width: 230px;
    }
}


// Media query
@media screen and (max-width: 575px){
    .con {
        flex-direction: column;

        &__search{
            max-width: none !important;
        }

        &__filter{
            margin-top: 10px;
        }
    }
}