@import "input";

.con {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__search {
        width: 100%;
        max-width: 220px;
    }

    &__filter {
        width: 100%;
        max-width: 120px;
        border: 1px solid black;
    }
}
