@import "colors";

.con-input {
    position: relative;

    &--theme-black {
        color: $white-higher-darken;

        .con-input__input {
            background-color: $black-primary !important;
            color: $white-higher-darken;

            ::placeholder{
                color: $white;
            }
        }

        .con-input__icon{
            color: $white-higher-darken;
        }
    }

    &__input {
        box-shadow: 0 0px 5px rgb(0 0 0 / 0.3);
        border-radius: 5px;
        border: none;
        padding: 15px 10px 15px 35px;
        width: 100%;
        outline: none;
    }

    &__icon {
        position: absolute;
        color: $gray-primary;
        margin-top: 16px;
        margin-left: 13px;
        font-size: 13px;
    }
}
